<<<<<<< Updated upstream
:root {
  --blue: #5482C7;
}

nav {
  background-color: var(--blue);
}


/* ------------- Home page ------------- */

.main {
  background-image: url('https://wallpaperaccess.com/full/1126810.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  background-position-y: -80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main h1 {
  display: block;
  color: white;
  padding: 20px 30px;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.6);
  text-shadow: 0 0 10px black;
}

/* ------------- Login page ------------- */

.form {
  background-color: #5482C7;
  padding: 60px 40px;
  margin: 0 auto;
  margin-top: 4rem;
  width: 40%;
  border-radius: 10px;
  text-align: center;
}

.form h1 {
  color: white;
  margin-bottom: 40px;
}

.form .input {
  width: 100%;
  margin: 10px 0;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}

.form input:focus {
  outline: none;
}

.form .forgot {
  color: white;
}

.form button {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  margin: 0 auto;
  margin-top: 40px;
  width: 200px;
}

.form button:hover {
  background-color: white;
  border: 2px solid white;
  color: var(--blue);
}

/* ----------- Footer ----------- */

footer {
  padding: 20px;
  background-color: var(--blue);
  display: flex;
  justify-content: space-between;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.button {
  padding: 10px 20px;
  background-color: white;
  border: none;
  border-radius: 3px;
  color: var(--blue);
  font-weight: bold;
}

.links  {
  list-style-type: none;
=======
body {
>>>>>>> Stashed changes
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

<<<<<<< Updated upstream
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-right: 185px;
  order: 2;
}

.center p {
  font-size: 18px;
  margin: 0;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  order: 3;
}

.right h2 {
  color: white;
  font-size: 25px;
}

.right .icons {
  text-align: center;
}

.right .icons i {
  color: white;
  font-size: 25px;
  margin: 0 5px;
}

.relative {
  position: relative;
  bottom: 0;
  margin-top: 3rem;
}

.absolute {
  position: absolute;
  bottom: 0;
  width: 100%;
}


@media screen and (max-width: 1200px) {
  .form {
    width: 60%;
  }
}

@media screen and (max-width: 990px) {
  .form {
    width: 70%;
    margin-top: 200px;
  }
  footer {
    flex-direction: column;
    position: relative !important;
    margin-top: 50vh;
    bottom: 0;
  }
  .left, .center, .right {
    margin: 20px 0;
  }
  .right {
    text-align: center;
    order: 1;
  }
  .right h2 {
    margin-bottom: 20px;
  }
  .left {
    order: 2;
  }
  .center {
    order: 3;
  }
}


@media screen and (max-width: 767px) {
  .form {
    width: 80%;
    padding: 60px 30px;
  }
<<<<<<< HEAD
}
=======
>>>>>>> Stashed changes
=======
}
>>>>>>> parent of e3390bb (About Us Page Finished)
